<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="/components/vue/dist/vue.js"></script>
<script type="text/javascript" src="/components/animejs/anime.min.js"></script>
<script type="text/javascript" src="/components/randomColor/randomColor.js"></script>
<script type="text/javascript" src="/components/lodash/dist/lodash.min.js"></script>
<script src="//www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
