<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" Content="자신의 하고싶은 말을 화면에 가볍게 두둥실 띄우세요.">
  <meta name="naver-site-verification" content="140b52e34d577b4ce3ec3e17349d6bb841f36669" />
  <meta name="google-site-verification" content="5Uc0Dt6KDmB66Td2avDiKODZc5aZMfpR6nKOq_J6L_0" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="두둥실 - 가볍게 메시지를 띄우다">
  <meta property="og:description" content="자신의 하고싶은 말을 화면에 가볍게 두둥실 띄우세요.">
  <meta property="og:image" content="http://doodoongsil.com/img/logo.png">
  <meta property="og:url" content="http://doodoongsil.com">

  <link rel="canonical" href="http://doodoongsil.com">

  <title><%- title %></title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="/components/animate.css/animate.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
