<% include header %>

<div id="app" data-room="<%= room %>">
  <header></header>

  <main>
    <template v-for="(msg, idx) in msgArr">
      <span v-msg class="fixed-center" v-bind:key="msg" v-bind:style="{color: msg.color, fontSize: '5vw'}">
        {{ msg.msg }}
      </span>
    </template>

    <!-- Modal Structure -->
    <div id="modal-room" class="modal">
      <form @submit.prevent="joinRoom">
        <div class="modal-content">
          <h4 class="blue-text">두둥실 <img src="/img/logo.png" width="30px" /></h4>
          <p>
            두둥실은 실시간으로 메시지를 띄워 사람들과 소통할 수 있는 서비스입니다.
          </p>

          <div class="input-field">
            <input type="text" name="room" data-length="10" required v-model="room" autocomplete="off" maxlength="10">
            <label>방이름</label>
          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="waves-effect waves-light btn blue" v-bind:class="{disabled: isClick}">시작하기</button>
          <button type="button" class="waves-effect waves-light btn" v-bind:class="{disabled: isClick}" @click="goFreeboard">자유게시판</button>          
        </div>
      </form>
    </div>

    <div id="modal-alert" class="modal">
      <div class="modal-content">
        <h4 class="blue-text">두둥실 <img src="/img/logo.png" width="30px" /></h4>
        <h5>{{ room }}</h5>
        <p>방이 존재하지 않습니다. <br /> 방을 만드시겠습니까?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="waves-effect waves-light btn blue" @click="makeRoom" v-bind:class="{disabled: isClick}">만들기</button>
        <button type="button" class="modal-action modal-close btn btn-flat">닫기</button>
      </div>
    </div>
  </main>

  <footer class="page-footer" v-if="isJoin">
    <nav>
      <div class="nav-wrapper blue">
        <form @submit.prevent="sendMsg">
          <div class="input-field">
            <input id="msg" name="msg" type="search" required v-model="msg" autocomplete="off" maxlength="10">
            <label class="label-icon" for="msg">
              <i class="material-icons">chat</i>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </footer>
</div>

<% include footer %>
