[v-cloak] {
  display: none;
}

body {
  background-color: black;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  font-size: 16px;
}


.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.modal-footer {
  .btn + .btn {
    margin-right: 5px;
  }
}

footer {
  &.page-footer {
    padding-top: 0px;
    z-index: 100;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  input[type=search] {
    margin-bottom: 0px;
  }
}
